<div class="standings-parent">
  <mat-toolbar color="primary">
    <span>F1 Standings {{season}}</span>
    <span class="spacer"></span>
    <div class="cal-div" style="align-self: flex-end;">
        <app-year-picker (change)="SeasonChange($event)"> </app-year-picker>
      </div>
  </mat-toolbar>

  <div [hidden]="!fetching" id="chart-parent">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div [hidden]="fetching" class="basic-container table-parent">
    <standings-table [roundStandings]="roundStandings"></standings-table>
  </div>
</div>
