$white: #fff;
$black: #000;
$chart-tooltip-border-radius: 5px;
$chart-caret-size: 7px solid $white !default;

/* Add application styles & imports to this file! */
@import "~@angular/material/theming";
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    )
  )
);
@mixin charts-tooltip($theme) {
  $typography: mat-typography-config();
  $foreground: map-get($theme, foreground);

  .chart__tooltip-sub-label {
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($typography, body-2);
  }

  .ngx-charts-tooltip-content.type-tooltip {
    @include mat-elevation(3);
    background-color: $white !important;
    border-radius: $chart-tooltip-border-radius !important;
    color: $black !important;
    padding: 8px !important;
  }
  .ngx-charts-tooltip-content.type-tooltip {
    background-color: $white !important;
    color: $black !important;
  }

  .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
    border-top: $chart-caret-size !important;
  }

  .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-right {
    border-right: $chart-caret-size !important;
  }

  .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-bottom {
    border-bottom: $chart-caret-size !important;
  }

  .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-left {
    border-left: $chart-caret-size !important;
  }
  .legend-label-text{
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($typography, body-2) !important;
  }
  .legend-title-text{
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($typography, subheading-2) !important;
  }
  .legend-labels{
    @include mat-elevation(3);
    background-color: $white !important;
    border-radius: $chart-tooltip-border-radius !important;
    color: $black !important;
    padding: 2px !important;
  }
}

@include angular-material-theme($theme);
@include charts-tooltip($theme);

.m-none {
  margin: 0 !important;
}
